* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	margin: 0;
	font-family: "Calibri";
	max-height: 100vh;
}

.card {
	display: flex;
	width: 90%;
	height: 60px;
	list-style: none;
	padding: 10px;
	background: #fff;
	color: #222;
	text-align: center;
	box-shadow: 0 10px 10px -8px #333;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 40px;
	margin-bottom: 2px;
}

.card:last-child {
	margin-bottom: 9px;
}

.card:hover {
	animation: bounce 0.5s linear;
	background: #ff4500;
}

.card:hover h2, .card:hover p {
	color: #fff;
	font-weight: bold;
}

@keyframes bounce {
	20% {
		transform: translateY(-6px);
	}
	40% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(-2px);
	}
	80% {
		transform: translateY(0);
	}
}

.card-info {
	position: relative;
	display: flex;
/*	flex-direction: column;*/
	justify-content: space-evenly;
	align-items: center;
/*	border: 2px solid #000;*/
	width: 67%;
	height: 100%;
}

.card-title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	/*margin-top: -10px;
	margin-bottom: -10px;*/
}

.card-subtitle {
	font-size: 14px;
	font-weight: lighter;
	color: #666;
	text-transform: uppercase;
/*	margin-bottom: 0;*/
}

.card-img {
	height: 80px;
}

#pokedex {
	padding-inline-start: 0;
	padding: 8px;
	display: flex;
	flex-direction: column;
	grid-gap: 8px;
	border: 1px solid rgba(240, 240, 240, 0.5);
	width: 450px;
	height: 99%;
	justify-content: flex-start;
	overflow-y: auto;
	align-items: center;
	
	
}

.list {
	height: calc(1049px - 200px);
	background: #eee;
	box-shadow: 0 -5px 25px -5px #222 inset;
}

#pokedex::-webkit-scrollbar {
	width: 6px;
}

#pokedex::-webkit-scrollbar-track {
	background: #eee;
}

#pokedex::-webkit-scrollbar-thumb {
	background: orangered;
	border-radius: 8px;
	opacity: 50%;
}

#pokedex::-webkit-scrollbar-thumb:hover {
	background: #ff7420;
}

.container {
/*	padding: 20px;*/
/*	margin: 0 auto;*/
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;
}

.header {
/*	border: 2px solid #fff;*/
	height: 20%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: orangered;
	box-shadow: 0 5px 10px -5px #222;
	z-index: 1000;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 36px;
	color: #fff;
}

.main {
	position: relative;
	display: flex;
	height: calc(1049px - 200px);
/*	width: calc(100vw - 450px);*/
	width: 100%;
}

.main div {
	position: relative;
}

.list {
	padding: 0;
	height: 100%;
}

.header, .main, #pokedex {
	border: none;
}

#data {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
/*	background: #000;*/
	padding: 1em;
	overflow: auto;
}

#data div {
	position: relative;
	display: flex;
/*	border: 2px solid orangered;*/
	width: 100%;
	margin-bottom: 5px;
}

#sprite {
	height: 200px !important;
	width: 200px !important;
	padding: 0.5em;
}

#base-info {
	flex-direction: column;
	justify-content: space-evenly;
	padding: 2em;
}

#h-w {
	font-size: 12px;
	text-transform: lowercase !important;
}

#base-info p, #base-info h2 {
	text-transform: uppercase;
}

#base-info p {
	font-size: 32px;
}

#base-info h2 {
	font-size: 40px;
}

#base-stat {
	height: 80px;
	width: 200px;
}

#base-stat div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: calc(100% / 6);
}

#abilities {
	height: 80px;
	width: 100%;
	justify-content: center;
	align-items: center;
/*	border: 2px solid #000;*/
	text-transform: uppercase;
	display: flex;
	justify-content: space-evenly;
	font-size: 18px;
/*	font-weight: bold;*/
}
